@import navigation._

@(currentPath: NavPath)

@all = @{List(Home(),News(),Contact(),Privacy())}
@allRoutes = @{ 
List(
  routes.Application.index,
  routes.Application.news,
  routes.Application.contact,
  routes.Application.about
) }

<ul>
  @zipped = @{all.zip(allRoutes)}
  @for((item,ref) <- zipped.dropRight(1)) {
    @if(currentPath == item) {
      <li><a class="active" href=@ref>@item.title</a></li>
    } else {
      <li><a href=@ref>@item.title</a></li>
    }
  }

  @last = @{zipped.last}
  @item = @{last._1}
  @ref = @{last._2}

  @if(currentPath == item) {
      <li style="float:right"><a class="active" href=@ref>@item.title</a></li>
  } else {
      <li style="float:right"><a href=@ref>@item.title</a></li>
  }


</ul>